<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Paramètres</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar (click)="takeOrChoosePhoto()">

    <img [src]="profilePictureUrl" />

  </ion-avatar>


  <!-- Carte pour modifier le thème d'affichage -->
  <ion-card class="settings-card">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="settings-label"><b>Modifier le thème par défaut</b></ion-label>
        <!--<ion-segment [(ngModel)]="theme" (ionChange)="toggleTheme(theme)">-->
        <ion-segment [(ngModel)]="theme">
          <ion-segment-button value="light">
            <ion-label>Clair</ion-label>
          </ion-segment-button>
          <ion-segment-button value="auto">
            <ion-label>Système</ion-label>
          </ion-segment-button>
          <ion-segment-button value="dark">
            <ion-label>Foncé</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-card-content>
  </ion-card>

 <!-- Carte pour modifier la langue -->
  <ion-card class="settings-card">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="settings-label"><b>Modifier la langue</b></ion-label>
        <div class="language-toggle">
          <ion-button>FR</ion-button>
          <ion-button>EN</ion-button>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="light"><b><ion-icon name="mail" aria-label="mail"></ion-icon>
        </b></ion-button>
      </ion-col>
      <ion-col size="9">
        <ion-button (click)="loadingRestart()" expand="block" color="light"><b>Redémarrer l'application</b></ion-button>
        <p id="countdown"></p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <p>Conditions d'utilisation et politique de confidentialité.</p>
  <p >v1.0</p>
</ion-footer>
