<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Discover</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Discover</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-searchbar animated="true" [(ngModel)]="searchQuery" (keyup)="searchAMedia(searchQuery)" placeholder="Search for a media 🧐"></ion-searchbar>
    <app-little-posters [medias]="medias" [showInfiniteScroll]="false" ></app-little-posters>
</ion-content>
