<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Discover</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Grille pour afficher les films -->
    <ion-grid [fixed]="true">
        <ion-row>
            <ion-col *ngFor="let item of list">
                <ion-card >
                    <ion-card-header>
                        <!-- <ion-card-title>{{ item.name || item.title}}</ion-card-title> -->
                        <ion-img [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2/' + item.poster_path"></ion-img>
                      </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-modal #movieModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>test</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="movieModal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Ici, vous pouvez afficher plus de détails sur le film sélectionné -->
      <p>test</p>
    </ion-content>
  </ng-template>
</ion-modal>








