<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="closeDetails()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="details-content">
  <div class="details-card-container">
    <ion-card class="details-card">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-img [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2/' + selectedMedia.poster_path"></ion-img>
          </ion-col>
          <ion-col size="7">
            <ion-card-content>
              <ion-card-title>{{ (selectedMedia.title || selectedMedia.name)?.trim() }}</ion-card-title>
              <ion-card-subtitle>Released on {{ selectedMedia.release_date || selectedMedia.first_air_date | date:'dd/MM/yyyy' }}</ion-card-subtitle>
              <ion-card-subtitle>Recommended at {{ selectedMedia.vote_average * 10 | number:'1.0-0' }}%</ion-card-subtitle>
              <app-fav-button [media]="selectedMedia"></app-fav-button>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div class="details-card-container">
    <ion-card class="details-card">
      <p class="details-card-title">Synopsis</p>
      <p class="overview">{{ selectedMedia.overview }}</p>
    </ion-card>
  </div>
</ion-content>


