/* CSS pour le composant ViewDetails */

/* Style pour la barre d'en-tête */
ion-toolbar {
  --ion-color-primary: white; /* Couleur de la barre d'en-tête */
  border: 1px solid black;
}

/* Style pour le bouton de retour */
ion-icon {
  fill: black; /* Couleur du bouton de retour */
  margin-right: 10px; /* Marge à droite */
}

/* Style pour la popup de détails */
.details-popup {
  margin: 16px; /* Marge autour de la popup */
  background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond semi-transparente pour l'arrière-plan */
}

/* Style pour le contenu */
.details-content {
  max-width: 500px; /* Largeur maximale de la fenêtre contextuelle */
  margin: auto; /* Centrer la fenêtre contextuelle horizontalement */
  padding: 16px; /* Espacement interne */
  border-radius: 4px; /* Coins arrondis */
  text-align: center; /* Centrer le texte */
  border: 1px solid black;
}

/* Style pour la carte d'affichage des détails */
.details-card {
  margin: 0 auto; /* Centrer la carte horizontalement */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style pour le titre */
ion-card-title {
  font-size: 20px; /* Taille de la police */
  text-align: left; /* Alignement du texte à gauche */
  margin-bottom: 5px;
}
ion-card-subtitle {
  text-align: left; /* Alignement du texte à gauche */
}


/* Style pour l'image */
ion-img {
  margin: 20px; /* Marge autour de l'image */
  max-width: 100%; /* Largeur maximale de l'image */
  border-radius: 20px; /* Coins arrondis */
}

/* Style pour la description */
.overview {
  padding-left : 30px; /* Espacement interne */
  padding-right : 30px; /* Espacement interne */
  text-align: left; /* Alignement du texte à gauche */
}

.details-card-title {
  padding-left : 30px; /* Espacement interne */
  padding-right : 30px; /* Espacement interne */
  font-size: 20px; /* Taille de la police */
  text-align: left; /* Alignement du texte à gauche */
}

.heart-icon {
  fill: white; /* Couleur de l'icône */
  margin-right : 10px; /* Marge à droite */
}

ion-button {
  --background: #ff0000; /* Couleur de fond du bouton */
  --color: white; /* Couleur du texte du bouton */
  margin-top: 20px; /* Marge au-dessus du bouton */
  margin-bottom: 20px; /* Marge en dessous du bouton */
}
