<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ selectedMedia?.title || selectedMedia?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button >
          <app-fav-button [media]="selectedMedia"></app-fav-button>
      </ion-button>
      <ion-button (click)="shareMedia()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ selectedMedia?.release_date || selectedMedia?.first_air_date | date:'dd/MM/yyyy' }}</ion-card-subtitle>
      <ion-card-title>{{ selectedMedia?.title || selectedMedia?.name }}</ion-card-title>
      <ion-card-subtitle>
        {{ selectedMedia?.media_type || '' }}
      </ion-card-subtitle>


    </ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="selectedMedia?.backdrop_path" [src]="'https://image.tmdb.org/t/p/original/' + selectedMedia?.backdrop_path"></ion-img>

      <ion-img class="default-image" *ngIf="!selectedMedia?.backdrop_path" src="assets/images/no_image_for_details.png"></ion-img>

      <br><br>
      <p>{{ selectedMedia?.overview }}</p>
  </ion-card-content>


  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-item lines="none">
          <ion-icon slot="start" name="star-outline"></ion-icon>
          <ion-label>Rating: {{ selectedMedia?.vote_average | number:'1.0-0'}}/10</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-item lines="none">
          <ion-icon slot="start" name="time-outline"></ion-icon>
          <ion-label>Time: {{ selectedMedia?.runtime || 'x'}} mins</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip color="secondary" outline *ngFor="let genre of selectedMedia?.genres">
          <ion-label>{{ genre.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
